<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Home'}); %> 
<body>
  <!-- NAVBAR -->
  <%- include('partials/navbar'); %>  

  <!-- SEARCH -->
  <form action="/" method="get">
    <input type="search" placeholder="Search by title" name="name">
    <input type="search" placeholder="or by artist" name="artist">
    <button type="submit">Submit</button>
  </form>

  <!-- NOTIFIKASI -->
  <p style="background-color: yellow">Jumlah seluruh art adalah <%= totalArt %>.
    Untuk art yang tertua yaitu berasal dari tahun <%= oldDate.getFullYear() %>,
    serta untuk yang terbaru dari tahun <%= newDate.getFullYear() %> 
  </p>
  
  <!-- TABLE -->
  <table border="1", cellpadding="15">
    <tr>
      <th>Photo</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <% dataArts.forEach(el => { %>
    <tr>
      <td><img width="100%" height="100%" src="<%= el.photo %>" alt=""></td>  
      <td><%= el.description %> </td>
      <td>
        <button><a href="/arts/<%= el.id %>">See Detail</a></button>
        <button><a href="/arts/<%= el.id %>/delete">Delete</a></button>
      </td>
    </tr>
    <% }); %> 
  </table>
  
</body>
</html>